.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-next {
  margin-right: 40px;
  opacity: 1;
  background: grey;

}
.slick-prev {
  margin-left: 40px;
  z-index: 11;
  background: grey;
}
.head-text1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
   text-align: end !important;

}
.head-text2 {
  margin-bottom: 20px;
  text-align: end !important;
  font-size: 14px;
  color: #e92444;
}
